## 기본 자료구조

### 리스트

In [1]:
멜론_TOP100 = [
    '백예린', '백예린', '에픽하이',
]
멜론_TOP100

['백예린', '백예린', '에픽하이']

In [3]:
멜론_TOP100.append('박봄')
멜론_TOP100.append('마마무')
멜론_TOP100

['백예린', '백예린', '에픽하이', '박봄', '마마무']

In [4]:
멜론_TOP100.insert(0, '엔플라잉')
멜론_TOP100

['엔플라잉', '백예린', '백예린', '에픽하이', '박봄', '마마무']

In [5]:
멜론_TOP100.remove('백예린')
멜론_TOP100

['엔플라잉', '백예린', '에픽하이', '박봄', '마마무']

In [6]:
멜론_TOP100.pop(1)
멜론_TOP100

['엔플라잉', '에픽하이', '박봄', '마마무']

### 인덱스 (index)

In [7]:
import requests
from bs4 import BeautifulSoup

def get_artist_list():
    headers = {
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.121 Safari/537.36',
    }
    res = requests.get("https://www.melon.com/chart/index.htm", headers=headers)
    html = res.text
    soup = BeautifulSoup(html, 'html.parser')

    tr_tag_list = soup.select('.d_song_list tbody tr')
    
    artist_list = []

    for tr_tag in tr_tag_list:
        artist_tag = tr_tag.select_one('[href*=goArtistDetail]')
        artist_list.append(artist_tag.text)
    
    return artist_list

In [8]:
멜론_TOP100 = get_artist_list()
멜론_TOP100

['백예린',
 '백예린',
 '에픽하이 (EPIK HIGH)',
 '박봄',
 '마마무(Mamamoo)',
 '엔플라잉 (N.Flying)',
 '백예린',
 '케이시 (Kassy)',
 '거미',
 'ITZY (있지)',
 '10cm',
 '화사(Hwa Sa)',
 '백예린',
 '백예린',
 '우디 (Woody)',
 '백예린',
 '잔나비',
 '엠씨더맥스',
 '청하',
 '이소라',
 '하은요셉',
 '백예린',
 '윤건',
 '강현준 (Lil tachi)',
 '폴킴',
 'Jvcki Wai',
 '하은',
 '폴킴',
 '폴킴',
 '우원재',
 '선미',
 '엠씨더맥스',
 '벤',
 '(여자)아이들',
 '닐로 (Nilo)',
 '에픽하이 (EPIK HIGH)',
 '케이윌',
 '제니 (JENNIE)',
 '김민규 (Young Kay)',
 '장덕철',
 'TWICE (트와이스)',
 '방탄소년단',
 '숀 (SHAUN)',
 '임한별',
 'NU`EST',
 'Ariana Grande',
 'MINO (송민호)',
 'EXO',
 '방탄소년단',
 'Ariana Grande',
 'Anne-Marie',
 'WINNER',
 '양다일',
 '아이유',
 '허각',
 '방탄소년단',
 '노을',
 '바이브',
 '권영훈 (TANGTHEAWESOME)',
 '닐로 (Nilo)',
 'EXO',
 '벤',
 '양승호 (sokodomo)',
 '폴킴',
 '에픽하이 (EPIK HIGH)',
 '비투비',
 '하성운',
 '세븐틴',
 '이기광',
 '로꼬',
 '여자친구 (GFRIEND)',
 'pH-1',
 '방탄소년단',
 '홍진영',
 '방탄소년단',
 '마마무(Mamamoo)',
 '방탄소년단',
 'Lauv',
 '임창정',
 '양다일',
 '아이유',
 '강민수 (AQUINAS)',
 '강민경 (다비치)',
 '비투비',
 '장덕철',
 '하성운',
 '기리보이',
 '비투비',
 '방탄소년단',
 'BLACKPINK',
 'TWICE (트와이스)',
 'IZ*ONE (아이즈원)',
 '첸 (CHEN)',
 '저스디스 (JUSTHIS)',
 '방탄소년단',
 '펀치 (Punch)',
 '투모로우바이투게더',
 '선미',
 'Wanna One (워너원)',
 'NU`EST']

In [9]:
len(멜론_TOP100)  # 멜론_TOP100 리스트가 가지고 있는 항목의 수

100

In [11]:
print(멜론_TOP100[0])  # 1위 가수
print(멜론_TOP100[1])
print(멜론_TOP100[2])
print(멜론_TOP100[3])
print(멜론_TOP100[4])
print(멜론_TOP100[5])

백예린
백예린
에픽하이 (EPIK HIGH)
박봄
마마무(Mamamoo)
엔플라잉 (N.Flying)

In [15]:
멜론_TOP100[len(멜론_TOP100) - 1]

'NU`EST'

In [16]:
멜론_TOP100[-1]

'NU`EST'

In [20]:
멜론_TOP100[0] = '김건모'  # 인덱스를 지정해서, 값을 변경
멜론_TOP100

['김건모',
 '백예린',
 '에픽하이 (EPIK HIGH)',
 '박봄',
 '마마무(Mamamoo)',
 '엔플라잉 (N.Flying)',
 '백예린',
 '케이시 (Kassy)',
 '거미',
 'ITZY (있지)',
 '10cm',
 '화사(Hwa Sa)',
 '백예린',
 '백예린',
 '우디 (Woody)',
 '백예린',
 '잔나비',
 '엠씨더맥스',
 '청하',
 '이소라',
 '하은요셉',
 '백예린',
 '윤건',
 '강현준 (Lil tachi)',
 '폴킴',
 'Jvcki Wai',
 '하은',
 '폴킴',
 '폴킴',
 '우원재',
 '선미',
 '엠씨더맥스',
 '벤',
 '(여자)아이들',
 '닐로 (Nilo)',
 '에픽하이 (EPIK HIGH)',
 '케이윌',
 '제니 (JENNIE)',
 '김민규 (Young Kay)',
 '장덕철',
 'TWICE (트와이스)',
 '방탄소년단',
 '숀 (SHAUN)',
 '임한별',
 'NU`EST',
 'Ariana Grande',
 'MINO (송민호)',
 'EXO',
 '방탄소년단',
 'Ariana Grande',
 'Anne-Marie',
 'WINNER',
 '양다일',
 '아이유',
 '허각',
 '방탄소년단',
 '노을',
 '바이브',
 '권영훈 (TANGTHEAWESOME)',
 '닐로 (Nilo)',
 'EXO',
 '벤',
 '양승호 (sokodomo)',
 '폴킴',
 '에픽하이 (EPIK HIGH)',
 '비투비',
 '하성운',
 '세븐틴',
 '이기광',
 '로꼬',
 '여자친구 (GFRIEND)',
 'pH-1',
 '방탄소년단',
 '홍진영',
 '방탄소년단',
 '마마무(Mamamoo)',
 '방탄소년단',
 'Lauv',
 '임창정',
 '양다일',
 '아이유',
 '강민수 (AQUINAS)',
 '강민경 (다비치)',
 '비투비',
 '장덕철',
 '하성운',
 '기리보이',
 '비투비',
 '방탄소년단',
 'BLACKPINK',
 'TWICE (트와이스)',
 'IZ*ONE (아이즈원)',
 '첸 (CHEN)',
 '저스디스 (JUSTHIS)',
 '방탄소년단',
 '펀치 (Punch)',
 '투모로우바이투게더',
 '선미',
 'Wanna One (워너원)',
 'NU`EST']

In [25]:
print(멜론_TOP100[9])  # 10위 가수
print(멜론_TOP100[10])  # 11위 가수
print(멜론_TOP100[19])  # 20위 가수

ITZY (있지)
10cm
이소라

In [28]:
# 21위 ~ 30위 가수
멜론_TOP100[20:20+10]

['하은요셉',
 '백예린',
 '윤건',
 '강현준 (Lil tachi)',
 '폴킴',
 'Jvcki Wai',
 '하은',
 '폴킴',
 '폴킴',
 '우원재']

In [31]:
# 21위 ~ 30위 가수
멜론_TOP100[20:30:4]

['하은요셉', '폴킴', '폴킴']

In [33]:
# 처음 3개
멜론_TOP100[:3]

['김건모', '백예린', '에픽하이 (EPIK HIGH)']

In [35]:
# 마지막 3개
멜론_TOP100[-3:]

['선미', 'Wanna One (워너원)', 'NU`EST']

In [37]:
알파벳 = "abcdefghijklmnopqrstuvwxyz"

In [42]:
알파벳[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [43]:
number_list = list(range(1, 101))
number_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [47]:
# 값 20이상 50미만의 범위에서, 2의 배수 리스트를 구해보세요.
# 20 ~ 49 => 30개
number_list[19:49:2]

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

한 리스트에 담겨진 값을 여러 변수에 나눠 저장

In [67]:
_1위곡 = 멜론_TOP100[:5][0]
_2위곡 = 멜론_TOP100[:5][1]
_3위곡 = 멜론_TOP100[:5][2]
_4위곡 = 멜론_TOP100[:5][3]
_5위곡 = 멜론_TOP100[:5][4]
_1위곡

'김건모'

In [69]:
_1위곡, _2위곡, _3위곡, _4위곡, _5위곡 = 멜론_TOP100[:5]

In [80]:
a, b, c = 멜론_TOP100[:3]
x, y, z = 멜론_TOP100[-3:]

# 이런 문법도 있다.
a, b, c, *_, x, y, z = 멜론_TOP100
_

['박봄',
 '마마무(Mamamoo)',
 '엔플라잉 (N.Flying)',
 '백예린',
 '케이시 (Kassy)',
 '거미',
 'ITZY (있지)',
 '10cm',
 '화사(Hwa Sa)',
 '백예린',
 '백예린',
 '우디 (Woody)',
 '백예린',
 '잔나비',
 '엠씨더맥스',
 '청하',
 '이소라',
 '하은요셉',
 '백예린',
 '윤건',
 '강현준 (Lil tachi)',
 '폴킴',
 'Jvcki Wai',
 '하은',
 '폴킴',
 '폴킴',
 '우원재',
 '선미',
 '엠씨더맥스',
 '벤',
 '(여자)아이들',
 '닐로 (Nilo)',
 '에픽하이 (EPIK HIGH)',
 '케이윌',
 '제니 (JENNIE)',
 '김민규 (Young Kay)',
 '장덕철',
 'TWICE (트와이스)',
 '방탄소년단',
 '숀 (SHAUN)',
 '임한별',
 'NU`EST',
 'Ariana Grande',
 'MINO (송민호)',
 'EXO',
 '방탄소년단',
 'Ariana Grande',
 'Anne-Marie',
 'WINNER',
 '양다일',
 '아이유',
 '허각',
 '방탄소년단',
 '노을',
 '바이브',
 '권영훈 (TANGTHEAWESOME)',
 '닐로 (Nilo)',
 'EXO',
 '벤',
 '양승호 (sokodomo)',
 '폴킴',
 '에픽하이 (EPIK HIGH)',
 '비투비',
 '하성운',
 '세븐틴',
 '이기광',
 '로꼬',
 '여자친구 (GFRIEND)',
 'pH-1',
 '방탄소년단',
 '홍진영',
 '방탄소년단',
 '마마무(Mamamoo)',
 '방탄소년단',
 'Lauv',
 '임창정',
 '양다일',
 '아이유',
 '강민수 (AQUINAS)',
 '강민경 (다비치)',
 '비투비',
 '장덕철',
 '하성운',
 '기리보이',
 '비투비',
 '방탄소년단',
 'BLACKPINK',
 'TWICE (트와이스)',
 'IZ*ONE (아이즈원)',
 '첸 (CHEN)',
 '저스디스 (JUSTHIS)',
 '방탄소년단',
 '펀치 (Punch)',
 '투모로우바이투게더']

In [73]:
# x = 1
# y = 2

# x, y = [1, 2]  # list
# x, y = (1, 2)  # tuple
x, y = 1, 2  # tuple

In [75]:
x, y, z = 1, 2, 3, 4

ValueError: too many values to unpack (expected 3)

## 데이터 예시

In [51]:
import seaborn as sns

In [54]:
titanic = sns.load_dataset('titanic')
type(titanic)

pandas.core.frame.DataFrame

In [60]:
# 처음 3행
titanic.iloc[:3]
titanic.iloc[:5, -3:]  # 처음 5개에 대해서, 마지막 3개 컬럼

   embark_town alive  alone
0  Southampton    no  False
1    Cherbourg   yes  False
2  Southampton   yes   True
3  Southampton   yes  False
4  Southampton    no   True

In [63]:
titanic.iloc[:5, -3]  # 처음 5개에 대해서, 마지막 3개 컬럼

0    Southampton
1      Cherbourg
2    Southampton
3    Southampton
4    Southampton
Name: embark_town, dtype: object

## 튜플 (tuple)

In [81]:
numbers = [1, 2, 3]  # list
type(numbers)

list

In [82]:
numbers = (1, 2, 3)  # tuple
type(numbers)

tuple

In [89]:
numbers = (1, 2, 3, 4)

In [93]:
numbers[0] = 5

TypeError: 'tuple' object does not support item assignment

In [95]:
(2 + 3) * 4

20

In [108]:
numbers = 1,  # 튜플은 콤마가 필수입니다.
numbers[0]

1

In [109]:
x, y = [1, 2]
x, y = (1, 2)
x, y = 1, 2

In [110]:
temp = x
x = y
y = temp

x, y

(2, 1)

In [111]:
x, y = y, x

In [112]:
x, y

(1, 2)

## 집합 (set)

In [123]:
numbers = { 1, 2, 3, 3, 2, 1, 4 }
numbers  # 정렬이 된 것처럼 보이지만, 임의 정렬로 보는 것이 정확

{1, 2, 3, 4}

In [124]:
numbers.add(5)
numbers.add(6)
numbers.add(7)
numbers

{1, 2, 3, 4, 5, 6, 7}

In [125]:
numbers.remove(1)  # 값 제거
numbers

{2, 3, 4, 5, 6, 7}

In [126]:
numbers.pop()
numbers

{3, 4, 5, 6, 7}

In [127]:
mylist = []
mylist = list()

mytuple = ()
mytuple = tuple()

## myset = {} # X
myset = set()
myset1 = { 1, 2, 3 }

mydict = {}
mydict = dict()
mydict = { 'a': 1, 'b': 2, 'c': 3 }  # Key/Value

In [128]:
mynumbers = [1, 2, 3]
tuple(mynumbers)

(1, 2, 3)

In [130]:
len(멜론_TOP100)

100

In [135]:
for name in set(멜론_TOP100):
    print(name, 멜론_TOP100.count(name))

마마무(Mamamoo) 2
기리보이 1
케이윌 1
Ariana Grande 2
ITZY (있지) 1
노을 1
잔나비 1
Lauv 1
로꼬 1
펀치 (Punch) 1
여자친구 (GFRIEND) 1
Jvcki Wai 1
하성운 2
숀 (SHAUN) 1
NU`EST 2
거미 1
케이시 (Kassy) 1
폴킴 4
(여자)아이들 1
강민경 (다비치) 1
김건모 1
우원재 1
양다일 2
홍진영 1
BLACKPINK 1
강현준 (Lil tachi) 1
우디 (Woody) 1
하은요셉 1
세븐틴 1
강민수 (AQUINAS) 1
TWICE (트와이스) 2
벤 2
하은 1
IZ*ONE (아이즈원) 1
Wanna One (워너원) 1
방탄소년단 8
닐로 (Nilo) 2
MINO (송민호) 1
WINNER 1
임창정 1
박봄 1
투모로우바이투게더 1
임한별 1
허각 1
바이브 1
권영훈 (TANGTHEAWESOME) 1
비투비 3
10cm 1
pH-1 1
에픽하이 (EPIK HIGH) 3
저스디스 (JUSTHIS) 1
윤건 1
장덕철 2
제니 (JENNIE) 1
Anne-Marie 1
아이유 2
엠씨더맥스 2
백예린 6
이기광 1
EXO 2
청하 1
첸 (CHEN) 1
양승호 (sokodomo) 1
화사(Hwa Sa) 1
김민규 (Young Kay) 1
선미 2
이소라 1
엔플라잉 (N.Flying) 1

In [140]:
list(set(멜론_TOP100))  # 중복이 배제된 리스트

['마마무(Mamamoo)',
 '기리보이',
 '케이윌',
 'Ariana Grande',
 'ITZY (있지)',
 '노을',
 '잔나비',
 'Lauv',
 '로꼬',
 '펀치 (Punch)',
 '여자친구 (GFRIEND)',
 'Jvcki Wai',
 '하성운',
 '숀 (SHAUN)',
 'NU`EST',
 '거미',
 '케이시 (Kassy)',
 '폴킴',
 '(여자)아이들',
 '강민경 (다비치)',
 '김건모',
 '우원재',
 '양다일',
 '홍진영',
 'BLACKPINK',
 '강현준 (Lil tachi)',
 '우디 (Woody)',
 '하은요셉',
 '세븐틴',
 '강민수 (AQUINAS)',
 'TWICE (트와이스)',
 '벤',
 '하은',
 'IZ*ONE (아이즈원)',
 'Wanna One (워너원)',
 '방탄소년단',
 '닐로 (Nilo)',
 'MINO (송민호)',
 'WINNER',
 '임창정',
 '박봄',
 '투모로우바이투게더',
 '임한별',
 '허각',
 '바이브',
 '권영훈 (TANGTHEAWESOME)',
 '비투비',
 '10cm',
 'pH-1',
 '에픽하이 (EPIK HIGH)',
 '저스디스 (JUSTHIS)',
 '윤건',
 '장덕철',
 '제니 (JENNIE)',
 'Anne-Marie',
 '아이유',
 '엠씨더맥스',
 '백예린',
 '이기광',
 'EXO',
 '청하',
 '첸 (CHEN)',
 '양승호 (sokodomo)',
 '화사(Hwa Sa)',
 '김민규 (Young Kay)',
 '선미',
 '이소라',
 '엔플라잉 (N.Flying)']

## 사전 (dict)

In [145]:
학생_성적 = {'국어': 80, '영어': 90, '수학': 100, '국어': 95}
학생_성적['국어']

95

In [151]:
학생_성적['과학'] = 60  # 새로운 Key/Value 추가
학생_성적

{'국어': 95, '영어': 93, '수학': 100, '과학': 60}

In [152]:
학생_성적['영어'] = 80  # 기존 Key/Value 변경
학생_성적

{'국어': 95, '영어': 80, '수학': 100, '과학': 60}

In [160]:
# 학생_성적['영어'] = 학생_성적['영어'] + 3  # 학생 영어 성적이 +3
학생_성적['영어'] += 3
학생_성적

{'국어': 95, '영어': 92, '수학': 100, '과학': 60}

In [157]:
i = 10
# i = i + 1
i += 1  # +=, *=, /=, //=, %=, |=
i

11

In [163]:
# 실행 전에 필히 '역사' Key가 존재해야 합니다.
학생_성적['역사'] += 10

KeyError: '역사'

Membership Test

In [171]:
'Hello' in 'Hello World'  # 부분 문자열 테스트

True

In [167]:
'거미' in 멜론_TOP100

True

In [169]:
'역사' in 학생_성적  # Key Check

False

In [172]:
'역사' not in 학생_성적

True

In [174]:
# '역사' Key가 학생_성적 사전에 있음을 보장받을 수 있습니다.
if '역사' not in 학생_성적:
    학생_성적['역사'] = 0

학생_성적['역사'] += 10

In [180]:
counter = {}

for name in 멜론_TOP100:
    if name not in counter:
        counter[name] = 0
    counter[name] += 1

print(len(counter))
print(counter['에픽하이 (EPIK HIGH)'])
counter

68
3

{'김건모': 1,
 '백예린': 6,
 '에픽하이 (EPIK HIGH)': 3,
 '박봄': 1,
 '마마무(Mamamoo)': 2,
 '엔플라잉 (N.Flying)': 1,
 '케이시 (Kassy)': 1,
 '거미': 1,
 'ITZY (있지)': 1,
 '10cm': 1,
 '화사(Hwa Sa)': 1,
 '우디 (Woody)': 1,
 '잔나비': 1,
 '엠씨더맥스': 2,
 '청하': 1,
 '이소라': 1,
 '하은요셉': 1,
 '윤건': 1,
 '강현준 (Lil tachi)': 1,
 '폴킴': 4,
 'Jvcki Wai': 1,
 '하은': 1,
 '우원재': 1,
 '선미': 2,
 '벤': 2,
 '(여자)아이들': 1,
 '닐로 (Nilo)': 2,
 '케이윌': 1,
 '제니 (JENNIE)': 1,
 '김민규 (Young Kay)': 1,
 '장덕철': 2,
 'TWICE (트와이스)': 2,
 '방탄소년단': 8,
 '숀 (SHAUN)': 1,
 '임한별': 1,
 'NU`EST': 2,
 'Ariana Grande': 2,
 'MINO (송민호)': 1,
 'EXO': 2,
 'Anne-Marie': 1,
 'WINNER': 1,
 '양다일': 2,
 '아이유': 2,
 '허각': 1,
 '노을': 1,
 '바이브': 1,
 '권영훈 (TANGTHEAWESOME)': 1,
 '양승호 (sokodomo)': 1,
 '비투비': 3,
 '하성운': 2,
 '세븐틴': 1,
 '이기광': 1,
 '로꼬': 1,
 '여자친구 (GFRIEND)': 1,
 'pH-1': 1,
 '홍진영': 1,
 'Lauv': 1,
 '임창정': 1,
 '강민수 (AQUINAS)': 1,
 '강민경 (다비치)': 1,
 '기리보이': 1,
 'BLACKPINK': 1,
 'IZ*ONE (아이즈원)': 1,
 '첸 (CHEN)': 1,
 '저스디스 (JUSTHIS)': 1,
 '펀치 (Punch)': 1,
 '투모로우바이투게더': 1,
 'Wanna One (워너원)': 1}

`counter` 내역을 엑셀파일로 내보내기

In [182]:
import pandas as pd
series = pd.Series(counter)
series.to_excel('melon_counter.xlsx')

In [186]:
a = 1

In [187]:
del a

In [190]:
del 학생_성적['역사']  # '역사' Key/Value을 제거
학생_성적

{'국어': 95, '영어': 92, '수학': 100, '과학': 60}

In [191]:
if '역사' in 학생_성적:
    del 학생_성적['역사']

KeyError: '역사'

In [193]:
# 학생_성적['지리'] = 90
# 학생_성적['한국사'] = 95

학생_성적.update({
    '지리': 90,
    '한국사': 95,
})

학생_성적

{'국어': 95, '영어': 92, '수학': 100, '과학': 60, '지리': 90, '한국사': 95}

In [196]:
list(학생_성적)  # Key 리스트

['국어', '영어', '수학', '과학', '지리', '한국사']

In [197]:
학생_성적.keys()  # .values(), .items()

dict_keys(['국어', '영어', '수학', '과학', '지리', '한국사'])

In [198]:
학생_성적.values()

dict_values([95, 92, 100, 60, 90, 95])

In [209]:
학생_성적.items()

dict_items([('국어', 95), ('영어', 92), ('수학', 100), ('과학', 60), ('지리', 90), ('한국사', 95)])

In [207]:
for 과목명 in 학생_성적:
    성적 = 학생_성적[과목명]
    if 성적 >= 95:
        print(과목명, 성적)

국어 95
수학 100
한국사 95

In [210]:
for (과목명, 성적) in 학생_성적.items():
    if 성적 >= 95:
        print(과목명, 성적)

국어 95
수학 100
한국사 95

Pandas라면?

In [214]:
series = pd.Series(학생_성적)
series

국어      95
영어      92
수학     100
과학      60
지리      90
한국사     95
dtype: int64

In [216]:
mask = series >= 95  # Boolean Mask
series[mask]

국어      95
수학     100
한국사     95
dtype: int64

각 가수명의 글자수 별로 카운터 사전을 만들어보세요.

In [218]:
len('김건모')

3

In [224]:
counter = {}

for name in 멜론_TOP100:
    length = len(name)
    if length not in counter:
#         counter[length] = 0  # case #1
#         counter[length] = [] # case #2
        counter[length] = set() # case #3

#     counter[length] += 1         # case #1
#     counter[length].append(name) # case #2
    counter[length].add(name)      # case #3

counter

{3: {'EXO',
  '김건모',
  '바이브',
  '백예린',
  '비투비',
  '세븐틴',
  '아이유',
  '양다일',
  '우원재',
  '이기광',
  '이소라',
  '임창정',
  '임한별',
  '잔나비',
  '장덕철',
  '케이윌',
  '하성운',
  '홍진영'},
 16: {'에픽하이 (EPIK HIGH)'},
 2: {'거미', '노을', '로꼬', '박봄', '선미', '윤건', '청하', '폴킴', '하은', '허각'},
 12: {'TWICE (트와이스)', '마마무(Mamamoo)'},
 15: {'Wanna One (워너원)',
  '강현준 (Lil tachi)',
  '김민규 (Young Kay)',
  '엔플라잉 (N.Flying)'},
 11: {'제니 (JENNIE)', '케이시 (Kassy)'},
 9: {'BLACKPINK',
  'ITZY (있지)',
  'Jvcki Wai',
  '강민경 (다비치)',
  '닐로 (Nilo)',
  '숀 (SHAUN)',
  '투모로우바이투게더'},
 4: {'10cm', 'Lauv', 'pH-1', '기리보이', '하은요셉'},
 10: {'Anne-Marie', 'MINO (송민호)', '우디 (Woody)', '펀치 (Punch)', '화사(Hwa Sa)'},
 5: {'방탄소년단', '엠씨더맥스'},
 1: {'벤'},
 7: {'(여자)아이들'},
 6: {'NU`EST', 'WINNER'},
 13: {'Ariana Grande', 'IZ*ONE (아이즈원)', '강민수 (AQUINAS)'},
 20: {'권영훈 (TANGTHEAWESOME)'},
 14: {'양승호 (sokodomo)', '여자친구 (GFRIEND)', '저스디스 (JUSTHIS)'},
 8: {'첸 (CHEN)'}}