## 기본 자료구조

### 리스트

In [1]:
멜론_TOP100 = [
    '백예린', '백예린', '에픽하이',
]
멜론_TOP100

['백예린', '백예린', '에픽하이']

In [3]:
멜론_TOP100.append('박봄')
멜론_TOP100.append('마마무')
멜론_TOP100

['백예린', '백예린', '에픽하이', '박봄', '마마무']

In [4]:
멜론_TOP100.insert(0, '엔플라잉')
멜론_TOP100

['엔플라잉', '백예린', '백예린', '에픽하이', '박봄', '마마무']

In [5]:
멜론_TOP100.remove('백예린')
멜론_TOP100

['엔플라잉', '백예린', '에픽하이', '박봄', '마마무']

In [6]:
멜론_TOP100.pop(1)
멜론_TOP100

['엔플라잉', '에픽하이', '박봄', '마마무']

### 인덱스 (index)

In [7]:
import requests
from bs4 import BeautifulSoup

def get_artist_list():
    headers = {
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.121 Safari/537.36',
    }
    res = requests.get("https://www.melon.com/chart/index.htm", headers=headers)
    html = res.text
    soup = BeautifulSoup(html, 'html.parser')

    tr_tag_list = soup.select('.d_song_list tbody tr')
    
    artist_list = []

    for tr_tag in tr_tag_list:
        artist_tag = tr_tag.select_one('[href*=goArtistDetail]')
        artist_list.append(artist_tag.text)
    
    return artist_list

In [8]:
멜론_TOP100 = get_artist_list()
멜론_TOP100

['백예린',
 '백예린',
 '에픽하이 (EPIK HIGH)',
 '박봄',
 '마마무(Mamamoo)',
 '엔플라잉 (N.Flying)',
 '백예린',
 '케이시 (Kassy)',
 '거미',
 'ITZY (있지)',
 '10cm',
 '화사(Hwa Sa)',
 '백예린',
 '백예린',
 '우디 (Woody)',
 '백예린',
 '잔나비',
 '엠씨더맥스',
 '청하',
 '이소라',
 '하은요셉',
 '백예린',
 '윤건',
 '강현준 (Lil tachi)',
 '폴킴',
 'Jvcki Wai',
 '하은',
 '폴킴',
 '폴킴',
 '우원재',
 '선미',
 '엠씨더맥스',
 '벤',
 '(여자)아이들',
 '닐로 (Nilo)',
 '에픽하이 (EPIK HIGH)',
 '케이윌',
 '제니 (JENNIE)',
 '김민규 (Young Kay)',
 '장덕철',
 'TWICE (트와이스)',
 '방탄소년단',
 '숀 (SHAUN)',
 '임한별',
 'NU`EST',
 'Ariana Grande',
 'MINO (송민호)',
 'EXO',
 '방탄소년단',
 'Ariana Grande',
 'Anne-Marie',
 'WINNER',
 '양다일',
 '아이유',
 '허각',
 '방탄소년단',
 '노을',
 '바이브',
 '권영훈 (TANGTHEAWESOME)',
 '닐로 (Nilo)',
 'EXO',
 '벤',
 '양승호 (sokodomo)',
 '폴킴',
 '에픽하이 (EPIK HIGH)',
 '비투비',
 '하성운',
 '세븐틴',
 '이기광',
 '로꼬',
 '여자친구 (GFRIEND)',
 'pH-1',
 '방탄소년단',
 '홍진영',
 '방탄소년단',
 '마마무(Mamamoo)',
 '방탄소년단',
 'Lauv',
 '임창정',
 '양다일',
 '아이유',
 '강민수 (AQUINAS)',
 '강민경 (다비치)',
 '비투비',
 '장덕철',
 '하성운',
 '기리보이',
 '비투비',
 '방탄소년단',
 'BLACKPINK',
 'TWICE (트와이스)',
 'IZ*ONE (아이즈원)',
 '첸 (CHEN)',
 '저스디스 (JUSTHIS)',
 '방탄소년단',
 '펀치 (Punch)',
 '투모로우바이투게더',
 '선미',
 'Wanna One (워너원)',
 'NU`EST']

In [9]:
len(멜론_TOP100)  # 멜론_TOP100 리스트가 가지고 있는 항목의 수

100

In [11]:
print(멜론_TOP100[0])  # 1위 가수
print(멜론_TOP100[1])
print(멜론_TOP100[2])
print(멜론_TOP100[3])
print(멜론_TOP100[4])
print(멜론_TOP100[5])

백예린
백예린
에픽하이 (EPIK HIGH)
박봄
마마무(Mamamoo)
엔플라잉 (N.Flying)

In [15]:
멜론_TOP100[len(멜론_TOP100) - 1]

'NU`EST'

In [16]:
멜론_TOP100[-1]

'NU`EST'

In [20]:
멜론_TOP100[0] = '김건모'  # 인덱스를 지정해서, 값을 변경
멜론_TOP100

['김건모',
 '백예린',
 '에픽하이 (EPIK HIGH)',
 '박봄',
 '마마무(Mamamoo)',
 '엔플라잉 (N.Flying)',
 '백예린',
 '케이시 (Kassy)',
 '거미',
 'ITZY (있지)',
 '10cm',
 '화사(Hwa Sa)',
 '백예린',
 '백예린',
 '우디 (Woody)',
 '백예린',
 '잔나비',
 '엠씨더맥스',
 '청하',
 '이소라',
 '하은요셉',
 '백예린',
 '윤건',
 '강현준 (Lil tachi)',
 '폴킴',
 'Jvcki Wai',
 '하은',
 '폴킴',
 '폴킴',
 '우원재',
 '선미',
 '엠씨더맥스',
 '벤',
 '(여자)아이들',
 '닐로 (Nilo)',
 '에픽하이 (EPIK HIGH)',
 '케이윌',
 '제니 (JENNIE)',
 '김민규 (Young Kay)',
 '장덕철',
 'TWICE (트와이스)',
 '방탄소년단',
 '숀 (SHAUN)',
 '임한별',
 'NU`EST',
 'Ariana Grande',
 'MINO (송민호)',
 'EXO',
 '방탄소년단',
 'Ariana Grande',
 'Anne-Marie',
 'WINNER',
 '양다일',
 '아이유',
 '허각',
 '방탄소년단',
 '노을',
 '바이브',
 '권영훈 (TANGTHEAWESOME)',
 '닐로 (Nilo)',
 'EXO',
 '벤',
 '양승호 (sokodomo)',
 '폴킴',
 '에픽하이 (EPIK HIGH)',
 '비투비',
 '하성운',
 '세븐틴',
 '이기광',
 '로꼬',
 '여자친구 (GFRIEND)',
 'pH-1',
 '방탄소년단',
 '홍진영',
 '방탄소년단',
 '마마무(Mamamoo)',
 '방탄소년단',
 'Lauv',
 '임창정',
 '양다일',
 '아이유',
 '강민수 (AQUINAS)',
 '강민경 (다비치)',
 '비투비',
 '장덕철',
 '하성운',
 '기리보이',
 '비투비',
 '방탄소년단',
 'BLACKPINK',
 'TWICE (트와이스)',
 'IZ*ONE (아이즈원)',
 '첸 (CHEN)',
 '저스디스 (JUSTHIS)',
 '방탄소년단',
 '펀치 (Punch)',
 '투모로우바이투게더',
 '선미',
 'Wanna One (워너원)',
 'NU`EST']

In [25]:
print(멜론_TOP100[9])  # 10위 가수
print(멜론_TOP100[10])  # 11위 가수
print(멜론_TOP100[19])  # 20위 가수

ITZY (있지)
10cm
이소라

In [28]:
# 21위 ~ 30위 가수
멜론_TOP100[20:20+10]

['하은요셉',
 '백예린',
 '윤건',
 '강현준 (Lil tachi)',
 '폴킴',
 'Jvcki Wai',
 '하은',
 '폴킴',
 '폴킴',
 '우원재']

In [31]:
# 21위 ~ 30위 가수
멜론_TOP100[20:30:4]

['하은요셉', '폴킴', '폴킴']

In [33]:
# 처음 3개
멜론_TOP100[:3]

['김건모', '백예린', '에픽하이 (EPIK HIGH)']

In [35]:
# 마지막 3개
멜론_TOP100[-3:]

['선미', 'Wanna One (워너원)', 'NU`EST']

In [37]:
알파벳 = "abcdefghijklmnopqrstuvwxyz"

In [42]:
알파벳[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [43]:
number_list = list(range(1, 101))
number_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [47]:
# 값 20이상 50미만의 범위에서, 2의 배수 리스트를 구해보세요.
# 20 ~ 49 => 30개
number_list[19:49:2]

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

한 리스트에 담겨진 값을 여러 변수에 나눠 저장

In [67]:
_1위곡 = 멜론_TOP100[:5][0]
_2위곡 = 멜론_TOP100[:5][1]
_3위곡 = 멜론_TOP100[:5][2]
_4위곡 = 멜론_TOP100[:5][3]
_5위곡 = 멜론_TOP100[:5][4]
_1위곡

'김건모'

In [69]:
_1위곡, _2위곡, _3위곡, _4위곡, _5위곡 = 멜론_TOP100[:5]

In [80]:
a, b, c = 멜론_TOP100[:3]
x, y, z = 멜론_TOP100[-3:]

# 이런 문법도 있다.
a, b, c, *_, x, y, z = 멜론_TOP100
_

['박봄',
 '마마무(Mamamoo)',
 '엔플라잉 (N.Flying)',
 '백예린',
 '케이시 (Kassy)',
 '거미',
 'ITZY (있지)',
 '10cm',
 '화사(Hwa Sa)',
 '백예린',
 '백예린',
 '우디 (Woody)',
 '백예린',
 '잔나비',
 '엠씨더맥스',
 '청하',
 '이소라',
 '하은요셉',
 '백예린',
 '윤건',
 '강현준 (Lil tachi)',
 '폴킴',
 'Jvcki Wai',
 '하은',
 '폴킴',
 '폴킴',
 '우원재',
 '선미',
 '엠씨더맥스',
 '벤',
 '(여자)아이들',
 '닐로 (Nilo)',
 '에픽하이 (EPIK HIGH)',
 '케이윌',
 '제니 (JENNIE)',
 '김민규 (Young Kay)',
 '장덕철',
 'TWICE (트와이스)',
 '방탄소년단',
 '숀 (SHAUN)',
 '임한별',
 'NU`EST',
 'Ariana Grande',
 'MINO (송민호)',
 'EXO',
 '방탄소년단',
 'Ariana Grande',
 'Anne-Marie',
 'WINNER',
 '양다일',
 '아이유',
 '허각',
 '방탄소년단',
 '노을',
 '바이브',
 '권영훈 (TANGTHEAWESOME)',
 '닐로 (Nilo)',
 'EXO',
 '벤',
 '양승호 (sokodomo)',
 '폴킴',
 '에픽하이 (EPIK HIGH)',
 '비투비',
 '하성운',
 '세븐틴',
 '이기광',
 '로꼬',
 '여자친구 (GFRIEND)',
 'pH-1',
 '방탄소년단',
 '홍진영',
 '방탄소년단',
 '마마무(Mamamoo)',
 '방탄소년단',
 'Lauv',
 '임창정',
 '양다일',
 '아이유',
 '강민수 (AQUINAS)',
 '강민경 (다비치)',
 '비투비',
 '장덕철',
 '하성운',
 '기리보이',
 '비투비',
 '방탄소년단',
 'BLACKPINK',
 'TWICE (트와이스)',
 'IZ*ONE (아이즈원)',
 '첸 (CHEN)',
 '저스디스 (JUSTHIS)',
 '방탄소년단',
 '펀치 (Punch)',
 '투모로우바이투게더']

In [73]:
# x = 1
# y = 2

# x, y = [1, 2]  # list
# x, y = (1, 2)  # tuple
x, y = 1, 2  # tuple

In [75]:
x, y, z = 1, 2, 3, 4

ValueError: too many values to unpack (expected 3)

## 데이터 예시

In [51]:
import seaborn as sns

In [54]:
titanic = sns.load_dataset('titanic')
type(titanic)

pandas.core.frame.DataFrame

In [60]:
# 처음 3행
titanic.iloc[:3]
titanic.iloc[:5, -3:]  # 처음 5개에 대해서, 마지막 3개 컬럼

   embark_town alive  alone
0  Southampton    no  False
1    Cherbourg   yes  False
2  Southampton   yes   True
3  Southampton   yes  False
4  Southampton    no   True

In [63]:
titanic.iloc[:5, -3]  # 처음 5개에 대해서, 마지막 3개 컬럼

0    Southampton
1      Cherbourg
2    Southampton
3    Southampton
4    Southampton
Name: embark_town, dtype: object

## 튜플 (tuple)

In [81]:
numbers = [1, 2, 3]  # list
type(numbers)

list

In [82]:
numbers = (1, 2, 3)  # tuple
type(numbers)

tuple

In [89]:
numbers = (1, 2, 3, 4)

In [93]:
numbers[0] = 5

TypeError: 'tuple' object does not support item assignment

In [95]:
(2 + 3) * 4

20

In [108]:
numbers = 1,  # 튜플은 콤마가 필수입니다.
numbers[0]

1

In [109]:
x, y = [1, 2]
x, y = (1, 2)
x, y = 1, 2

In [110]:
temp = x
x = y
y = temp

x, y

(2, 1)

In [111]:
x, y = y, x

In [112]:
x, y

(1, 2)

## 집합 (set)

In [123]:
numbers = { 1, 2, 3, 3, 2, 1, 4 }
numbers  # 정렬이 된 것처럼 보이지만, 임의 정렬로 보는 것이 정확

{1, 2, 3, 4}

In [124]:
numbers.add(5)
numbers.add(6)
numbers.add(7)
numbers

{1, 2, 3, 4, 5, 6, 7}

In [125]:
numbers.remove(1)  # 값 제거
numbers

{2, 3, 4, 5, 6, 7}

In [126]:
numbers.pop()
numbers

{3, 4, 5, 6, 7}

In [127]:
mylist = []
mylist = list()

mytuple = ()
mytuple = tuple()

## myset = {} # X
myset = set()
myset1 = { 1, 2, 3 }

mydict = {}
mydict = dict()
mydict = { 'a': 1, 'b': 2, 'c': 3 }  # Key/Value

In [128]:
mynumbers = [1, 2, 3]
tuple(mynumbers)

(1, 2, 3)

In [130]:
len(멜론_TOP100)

100

In [135]:
for name in set(멜론_TOP100):
    print(name, 멜론_TOP100.count(name))

마마무(Mamamoo) 2
기리보이 1
케이윌 1
Ariana Grande 2
ITZY (있지) 1
노을 1
잔나비 1
Lauv 1
로꼬 1
펀치 (Punch) 1
여자친구 (GFRIEND) 1
Jvcki Wai 1
하성운 2
숀 (SHAUN) 1
NU`EST 2
거미 1
케이시 (Kassy) 1
폴킴 4
(여자)아이들 1
강민경 (다비치) 1
김건모 1
우원재 1
양다일 2
홍진영 1
BLACKPINK 1
강현준 (Lil tachi) 1
우디 (Woody) 1
하은요셉 1
세븐틴 1
강민수 (AQUINAS) 1
TWICE (트와이스) 2
벤 2
하은 1
IZ*ONE (아이즈원) 1
Wanna One (워너원) 1
방탄소년단 8
닐로 (Nilo) 2
MINO (송민호) 1
WINNER 1
임창정 1
박봄 1
투모로우바이투게더 1
임한별 1
허각 1
바이브 1
권영훈 (TANGTHEAWESOME) 1
비투비 3
10cm 1
pH-1 1
에픽하이 (EPIK HIGH) 3
저스디스 (JUSTHIS) 1
윤건 1
장덕철 2
제니 (JENNIE) 1
Anne-Marie 1
아이유 2
엠씨더맥스 2
백예린 6
이기광 1
EXO 2
청하 1
첸 (CHEN) 1
양승호 (sokodomo) 1
화사(Hwa Sa) 1
김민규 (Young Kay) 1
선미 2
이소라 1
엔플라잉 (N.Flying) 1

In [140]:
list(set(멜론_TOP100))  # 중복이 배제된 리스트

['마마무(Mamamoo)',
 '기리보이',
 '케이윌',
 'Ariana Grande',
 'ITZY (있지)',
 '노을',
 '잔나비',
 'Lauv',
 '로꼬',
 '펀치 (Punch)',
 '여자친구 (GFRIEND)',
 'Jvcki Wai',
 '하성운',
 '숀 (SHAUN)',
 'NU`EST',
 '거미',
 '케이시 (Kassy)',
 '폴킴',
 '(여자)아이들',
 '강민경 (다비치)',
 '김건모',
 '우원재',
 '양다일',
 '홍진영',
 'BLACKPINK',
 '강현준 (Lil tachi)',
 '우디 (Woody)',
 '하은요셉',
 '세븐틴',
 '강민수 (AQUINAS)',
 'TWICE (트와이스)',
 '벤',
 '하은',
 'IZ*ONE (아이즈원)',
 'Wanna One (워너원)',
 '방탄소년단',
 '닐로 (Nilo)',
 'MINO (송민호)',
 'WINNER',
 '임창정',
 '박봄',
 '투모로우바이투게더',
 '임한별',
 '허각',
 '바이브',
 '권영훈 (TANGTHEAWESOME)',
 '비투비',
 '10cm',
 'pH-1',
 '에픽하이 (EPIK HIGH)',
 '저스디스 (JUSTHIS)',
 '윤건',
 '장덕철',
 '제니 (JENNIE)',
 'Anne-Marie',
 '아이유',
 '엠씨더맥스',
 '백예린',
 '이기광',
 'EXO',
 '청하',
 '첸 (CHEN)',
 '양승호 (sokodomo)',
 '화사(Hwa Sa)',
 '김민규 (Young Kay)',
 '선미',
 '이소라',
 '엔플라잉 (N.Flying)']

## 사전 (dict)

In [145]:
학생_성적 = {'국어': 80, '영어': 90, '수학': 100, '국어': 95}
학생_성적['국어']

95

In [151]:
학생_성적['과학'] = 60  # 새로운 Key/Value 추가
학생_성적

{'국어': 95, '영어': 93, '수학': 100, '과학': 60}

In [152]:
학생_성적['영어'] = 80  # 기존 Key/Value 변경
학생_성적

{'국어': 95, '영어': 80, '수학': 100, '과학': 60}

In [160]:
# 학생_성적['영어'] = 학생_성적['영어'] + 3  # 학생 영어 성적이 +3
학생_성적['영어'] += 3
학생_성적

{'국어': 95, '영어': 92, '수학': 100, '과학': 60}

In [157]:
i = 10
# i = i + 1
i += 1  # +=, *=, /=, //=, %=, |=
i

11

In [163]:
# 실행 전에 필히 '역사' Key가 존재해야 합니다.
학생_성적['역사'] += 10

KeyError: '역사'

Membership Test

In [171]:
'Hello' in 'Hello World'  # 부분 문자열 테스트

True

In [167]:
'거미' in 멜론_TOP100

True

In [169]:
'역사' in 학생_성적  # Key Check

False

In [172]:
'역사' not in 학생_성적

True

In [174]:
# '역사' Key가 학생_성적 사전에 있음을 보장받을 수 있습니다.
if '역사' not in 학생_성적:
    학생_성적['역사'] = 0

학생_성적['역사'] += 10

In [180]:
counter = {}

for name in 멜론_TOP100:
    if name not in counter:
        counter[name] = 0
    counter[name] += 1

print(len(counter))
print(counter['에픽하이 (EPIK HIGH)'])
counter

68
3

{'김건모': 1,
 '백예린': 6,
 '에픽하이 (EPIK HIGH)': 3,
 '박봄': 1,
 '마마무(Mamamoo)': 2,
 '엔플라잉 (N.Flying)': 1,
 '케이시 (Kassy)': 1,
 '거미': 1,
 'ITZY (있지)': 1,
 '10cm': 1,
 '화사(Hwa Sa)': 1,
 '우디 (Woody)': 1,
 '잔나비': 1,
 '엠씨더맥스': 2,
 '청하': 1,
 '이소라': 1,
 '하은요셉': 1,
 '윤건': 1,
 '강현준 (Lil tachi)': 1,
 '폴킴': 4,
 'Jvcki Wai': 1,
 '하은': 1,
 '우원재': 1,
 '선미': 2,
 '벤': 2,
 '(여자)아이들': 1,
 '닐로 (Nilo)': 2,
 '케이윌': 1,
 '제니 (JENNIE)': 1,
 '김민규 (Young Kay)': 1,
 '장덕철': 2,
 'TWICE (트와이스)': 2,
 '방탄소년단': 8,
 '숀 (SHAUN)': 1,
 '임한별': 1,
 'NU`EST': 2,
 'Ariana Grande': 2,
 'MINO (송민호)': 1,
 'EXO': 2,
 'Anne-Marie': 1,
 'WINNER': 1,
 '양다일': 2,
 '아이유': 2,
 '허각': 1,
 '노을': 1,
 '바이브': 1,
 '권영훈 (TANGTHEAWESOME)': 1,
 '양승호 (sokodomo)': 1,
 '비투비': 3,
 '하성운': 2,
 '세븐틴': 1,
 '이기광': 1,
 '로꼬': 1,
 '여자친구 (GFRIEND)': 1,
 'pH-1': 1,
 '홍진영': 1,
 'Lauv': 1,
 '임창정': 1,
 '강민수 (AQUINAS)': 1,
 '강민경 (다비치)': 1,
 '기리보이': 1,
 'BLACKPINK': 1,
 'IZ*ONE (아이즈원)': 1,
 '첸 (CHEN)': 1,
 '저스디스 (JUSTHIS)': 1,
 '펀치 (Punch)': 1,
 '투모로우바이투게더': 1,
 'Wanna One (워너원)': 1}

`counter` 내역을 엑셀파일로 내보내기

In [182]:
import pandas as pd
series = pd.Series(counter)
series.to_excel('melon_counter.xlsx')

In [186]:
a = 1

In [187]:
del a

In [190]:
del 학생_성적['역사']  # '역사' Key/Value을 제거
학생_성적

{'국어': 95, '영어': 92, '수학': 100, '과학': 60}

In [191]:
if '역사' in 학생_성적:
    del 학생_성적['역사']

KeyError: '역사'

In [193]:
# 학생_성적['지리'] = 90
# 학생_성적['한국사'] = 95

학생_성적.update({
    '지리': 90,
    '한국사': 95,
})

학생_성적

{'국어': 95, '영어': 92, '수학': 100, '과학': 60, '지리': 90, '한국사': 95}

In [196]:
list(학생_성적)  # Key 리스트

['국어', '영어', '수학', '과학', '지리', '한국사']

In [197]:
학생_성적.keys()  # .values(), .items()

dict_keys(['국어', '영어', '수학', '과학', '지리', '한국사'])

In [198]:
학생_성적.values()

dict_values([95, 92, 100, 60, 90, 95])

In [209]:
학생_성적.items()

dict_items([('국어', 95), ('영어', 92), ('수학', 100), ('과학', 60), ('지리', 90), ('한국사', 95)])

In [207]:
for 과목명 in 학생_성적:
    성적 = 학생_성적[과목명]
    if 성적 >= 95:
        print(과목명, 성적)

국어 95
수학 100
한국사 95

In [210]:
for (과목명, 성적) in 학생_성적.items():
    if 성적 >= 95:
        print(과목명, 성적)

국어 95
수학 100
한국사 95

Pandas라면?

In [214]:
series = pd.Series(학생_성적)
series

국어      95
영어      92
수학     100
과학      60
지리      90
한국사     95
dtype: int64

In [216]:
mask = series >= 95  # Boolean Mask
series[mask]

국어      95
수학     100
한국사     95
dtype: int64

각 가수명의 글자수 별로 카운터 사전을 만들어보세요.

In [218]:
len('김건모')

3

In [224]:
counter = {}

for name in 멜론_TOP100:
    length = len(name)
    if length not in counter:
#         counter[length] = 0  # case #1
#         counter[length] = [] # case #2
        counter[length] = set() # case #3

#     counter[length] += 1         # case #1
#     counter[length].append(name) # case #2
    counter[length].add(name)      # case #3

counter

{3: {'EXO',
  '김건모',
  '바이브',
  '백예린',
  '비투비',
  '세븐틴',
  '아이유',
  '양다일',
  '우원재',
  '이기광',
  '이소라',
  '임창정',
  '임한별',
  '잔나비',
  '장덕철',
  '케이윌',
  '하성운',
  '홍진영'},
 16: {'에픽하이 (EPIK HIGH)'},
 2: {'거미', '노을', '로꼬', '박봄', '선미', '윤건', '청하', '폴킴', '하은', '허각'},
 12: {'TWICE (트와이스)', '마마무(Mamamoo)'},
 15: {'Wanna One (워너원)',
  '강현준 (Lil tachi)',
  '김민규 (Young Kay)',
  '엔플라잉 (N.Flying)'},
 11: {'제니 (JENNIE)', '케이시 (Kassy)'},
 9: {'BLACKPINK',
  'ITZY (있지)',
  'Jvcki Wai',
  '강민경 (다비치)',
  '닐로 (Nilo)',
  '숀 (SHAUN)',
  '투모로우바이투게더'},
 4: {'10cm', 'Lauv', 'pH-1', '기리보이', '하은요셉'},
 10: {'Anne-Marie', 'MINO (송민호)', '우디 (Woody)', '펀치 (Punch)', '화사(Hwa Sa)'},
 5: {'방탄소년단', '엠씨더맥스'},
 1: {'벤'},
 7: {'(여자)아이들'},
 6: {'NU`EST', 'WINNER'},
 13: {'Ariana Grande', 'IZ*ONE (아이즈원)', '강민수 (AQUINAS)'},
 20: {'권영훈 (TANGTHEAWESOME)'},
 14: {'양승호 (sokodomo)', '여자친구 (GFRIEND)', '저스디스 (JUSTHIS)'},
 8: {'첸 (CHEN)'}}

개선안

In [226]:
from collections import defaultdict

In [240]:
int()  # 호출한다 (Call)

0

In [242]:
# counter = defaultdict(int)
# counter = defaultdict(list)
counter = defaultdict(set)

for name in 멜론_TOP100:
#     counter[len(name)] += 1
#     counter[len(name)].append(name)
    counter[len(name)].add(name)

counter

defaultdict(set,
            {3: {'EXO',
              '김건모',
              '바이브',
              '백예린',
              '비투비',
              '세븐틴',
              '아이유',
              '양다일',
              '우원재',
              '이기광',
              '이소라',
              '임창정',
              '임한별',
              '잔나비',
              '장덕철',
              '케이윌',
              '하성운',
              '홍진영'},
             16: {'에픽하이 (EPIK HIGH)'},
             2: {'거미', '노을', '로꼬', '박봄', '선미', '윤건', '청하', '폴킴', '하은', '허각'},
             12: {'TWICE (트와이스)', '마마무(Mamamoo)'},
             15: {'Wanna One (워너원)',
              '강현준 (Lil tachi)',
              '김민규 (Young Kay)',
              '엔플라잉 (N.Flying)'},
             11: {'제니 (JENNIE)', '케이시 (Kassy)'},
             9: {'BLACKPINK',
              'ITZY (있지)',
              'Jvcki Wai',
              '강민경 (다비치)',
              '닐로 (Nilo)',
              '숀 (SHAUN)',
              '투모로우바이투게더'},
             4: {'10cm', 'Lauv', 'pH-1', '기리보이', '하은요셉'},
             10: {'Anne-Marie',
              'MINO (송민호)',
              '우디 (Woody)',
              '펀치 (Punch)',
              '화사(Hwa Sa)'},
             5: {'방탄소년단', '엠씨더맥스'},
             1: {'벤'},
             7: {'(여자)아이들'},
             6: {'NU`EST', 'WINNER'},
             13: {'Ariana Grande', 'IZ*ONE (아이즈원)', '강민수 (AQUINAS)'},
             20: {'권영훈 (TANGTHEAWESOME)'},
             14: {'양승호 (sokodomo)', '여자친구 (GFRIEND)', '저스디스 (JUSTHIS)'},
             8: {'첸 (CHEN)'}})

## 멜론 TOP100 리스트

In [250]:
import requests  # 작은 웹브라우저

res = requests.get("https://goo.gl/iDUKrL")

with open("melon_chart.csv", "wt", encoding="utf8") as f:
    f.write(res.text)

In [252]:
import csv

with open("melon_chart.csv", "rt", encoding="utf8") as f:
    reader = csv.DictReader(f)
    멜론_TOP100_리스트 = list(reader)

In [264]:
# 방탄소년단만 출력
for 곡 in 멜론_TOP100_리스트:
    if 곡['가수'] == '방탄소년단':
        print(곡['곡명'], 곡['가수'], 곡['좋아요'])

IDOL 방탄소년단 173279
I`m Fine 방탄소년단 132847
FAKE LOVE 방탄소년단 253847
Euphoria 방탄소년단 129017
Answer : Love Myself 방탄소년단 108151
전하지 못한 진심 (Feat. Steve Aoki) 방탄소년단 176653
Epiphany 방탄소년단 101011
Trivia 轉 : Seesaw 방탄소년단 98436
Trivia 起 : Just Dance 방탄소년단 88970
Trivia 承 : Love 방탄소년단 83610
Anpanman 방탄소년단 138694
봄날 방탄소년단 359130
DNA 방탄소년단 323911
Airplane pt.2 방탄소년단 127355

In [266]:
# 곡명에 "가을"이 포함된 것만
for 곡 in 멜론_TOP100_리스트:
    if '가을' in 곡['곡명']:
        print(곡['곡명'], 곡['가수'], 곡['좋아요'])

가을 타나 봐 바이브 28056
가을 안부 먼데이 키즈 (Monday Kiz) 109447

In [274]:
# 좋아요 수가 200000 이 넘는 곡수는?
counter_200000 = 0
for 곡 in 멜론_TOP100_리스트:
    if int(곡['좋아요']) > 200000:
        counter_200000 += 1
        print(곡['곡명'], 곡['가수'], 곡['좋아요'])
counter_200000

FAKE LOVE 방탄소년단 253847
Way Back Home 숀 (SHAUN) 225308
봄날 방탄소년단 359130
DNA 방탄소년단 323911
에너제틱 (Energetic) Wanna One (워너원) 268394
사랑을 했다 (LOVE SCENARIO) iKON 267692
Beautiful Wanna One (워너원) 216065
밤편지 아이유 283167
그날처럼 장덕철 208427
그리워하다 비투비 203463
선물 멜로망스 266869

11

In [288]:
# 가수별 곡수는?
from collections import Counter

# List Comprehension
가수_리스트 = [곡['가수'] for 곡 in 멜론_TOP100_리스트]

# 가수_리스트 = []
# for 곡 in 멜론_TOP100_리스트:
#     가수_리스트.append(곡['가수'])
# 가수_리스트

Counter(가수_리스트)

Counter({'아이유': 2,
         '로꼬': 2,
         'pH-1': 1,
         '임창정': 1,
         '방탄소년단': 14,
         'iKON': 3,
         'Coogie': 1,
         '로이킴': 2,
         '바이브': 2,
         '펀치 (Punch)': 1,
         '폴킴': 2,
         '백현 (BAEKHYUN)': 1,
         '선미': 1,
         '벤': 1,
         '숀 (SHAUN)': 1,
         'EXO': 3,
         '찬열': 1,
         '기리보이': 1,
         'EXO-CBX (첸백시)': 1,
         '저스디스 (JUSTHIS)': 1,
         '레이 (LAY)': 1,
         'BLACKPINK': 2,
         '닐로 (Nilo)': 2,
         'TWICE (트와이스)': 2,
         '박원': 1,
         'Wanna One (워너원)': 5,
         'Red Velvet (레드벨벳)': 1,
         '임한별': 1,
         '볼빨간사춘기': 1,
         'Wanna One (워너원) - 트리플포지션': 1,
         '마마무(Mamamoo)': 2,
         '양다일': 1,
         '먼데이 키즈 (Monday Kiz)': 1,
         '비투비': 2,
         '멜로망스': 4,
         '승리': 1,
         'Apink (에이핑크)': 1,
         '지코 (ZICO)': 1,
         '세븐틴': 2,
         '장덕철': 1,
         'Wanna One (워너원) - 더힐': 1,
         '10cm': 2,
         'nafla': 1,
         '(여자)아이들': 1,
         '뉴이스트 W': 8,
         '김효은': 1,
         '모트 (Motte)': 1,
         '이수 (엠씨 더 맥스)': 1,
         'Wanna One (워너원) - 린온미': 1,
         '용준형': 1,
         'Wanna One (워너원) - 남바완': 1,
         'NU`EST': 1,
         '정승환': 1,
         'Fitz & The Tantrums': 1,
         '여자친구 (GFRIEND)': 1,
         '청하': 1,
         '소녀시대-Oh!GG': 1})

Pandas 활용 예시

In [290]:
df = pd.read_csv("https://goo.gl/iDUKrL")

In [294]:
mask = df['가수'] == '방탄소년단'  # Boolean Mask
df.loc[mask].to_excel("melon_방탄소년단.xlsx")

In [295]:
철수_성적 = {'국어': 100, '영어': 90, '수학': 80}
영희_성적 = {'국어': 90, '영어': 80, '수학': 90}

성적_리스트 = [
    {'국어': 100, '영어': 90, '수학': 80},
    {'국어': 90, '영어': 80, '수학': 90},
]
성적_리스트

[{'국어': 100, '영어': 90, '수학': 80}, {'국어': 90, '영어': 80, '수학': 90}]

## 제어구조

### 조건문

In [304]:
import random

In [307]:
number = random.randint(1, 30)

In [313]:
if number < 10:
    print("1~9 범위입니다.")

if 10 <= number and number < 20:
# if 10 <=  number < 20:
    print("10~19 범위입니다.")
    
if 20 <= number and number < 30:
# if 20 <= number < 30:
    print("20~29 범위입니다.")

10~19 범위입니다.

In [315]:
if number < 10:
    print("1~9 범위입니다.")

elif number < 20:
    print("10~19 범위입니다.")
    
elif number < 30:
    print("20~29 범위입니다.")
    
else:
    print("너무 크다")

10~19 범위입니다.

### 반복문

```c
for(int i=2; i<10; i++) {
    printf("%d\n", i);
}
```

In [317]:
for 숫자 in [2, 3, 4, 5, 6, 7, 8, 9]:
    print(숫자)

2
3
4
5
6
7
8
9

In [331]:
for 숫자 in range(2, 20):  # 2이상 10미만의 범위에서 1씩 증가하는 값을 생성
    print('### {}단 ###'.format(숫자))
    for i in range(1, 10):
        print('{} * {} = {}'.format(숫자, i, 숫자 * i))
        if i > 3:
            break
    print()
    
    # break, continue

### 2단 ###
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8

### 3단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12

### 4단 ###
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

### 5단 ###
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20

### 6단 ###
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24

### 7단 ###
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28

### 8단 ###
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32

### 9단 ###
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36

### 10단 ###
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40

### 11단 ###
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44

### 12단 ###
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48

### 13단 ###
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52

### 14단 ###
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56

### 15단 ###
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60

### 16단 ###
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64

### 17단 ###
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68

### 18단 ###
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72

### 19단 ###
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76

내장함수 `range`

In [336]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [337]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [338]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [347]:
# 3의 배수 숫자에 대한 구구단 출력
for 숫자 in range(3, 10, 3):
    print('### {}단 ###'.format(숫자))
    for i in range(1, 10):
        print('{} * {} = {}'.format(숫자, i, 숫자 * i))
    print()

### 3단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

### 6단 ###
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

### 9단 ###
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [351]:
# 1이상 100미만의 범위에서 3과 5의 공배수를 출력하고, 합을 구하기
result = 0

for i in range(1, 100):
    if i % 3 == 0 and i % 5 == 0:
        print(i)
        result += i
        
result

15
30
45
60
75
90

315

In [353]:
# 1이상 100미만의 범위에서 3과 5의 공배수를 출력하고, 합을 구하기
common_list = []

for i in range(1, 100):
    if i % 3 == 0 and i % 5 == 0:
        common_list.append(i)

print(sum(common_list))
common_list

315

[15, 30, 45, 60, 75, 90]

In [363]:
list(range(15, 100, 15))

[15, 30, 45, 60, 75, 90]

In [364]:
sum(range(15, 100, 15))

315

In [365]:
sum = 0

In [366]:
del sum

In [367]:
sum

## 최소 2가지 방식의 코드로 우측 결과를 출력하기

break 쓴 버전

In [371]:
for 숫자 in range(2, 10):
    print('### {}단 ###'.format(숫자))
    for i in range(1, 10):
        print(숫자, i, 숫자 * i)
        if 숫자 == i:
            break
    print()

### 2단 ###
2 1 2
2 2 4

### 3단 ###
3 1 3
3 2 6
3 3 9

### 4단 ###
4 1 4
4 2 8
4 3 12
4 4 16

### 5단 ###
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25

### 6단 ###
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36

### 7단 ###
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49

### 8단 ###
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64

### 9단 ###
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

break 안 쓴 버전

In [375]:
for 숫자 in range(2, 10):
    print('### {}단 ###'.format(숫자))
    for i in range(1, 숫자+1):
#         if i <= 숫자:
        print(숫자, i, 숫자 * i)
    print()

### 2단 ###
2 1 2
2 2 4

### 3단 ###
3 1 3
3 2 6
3 3 9

### 4단 ###
4 1 4
4 2 8
4 3 12
4 4 16

### 5단 ###
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25

### 6단 ###
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36

### 7단 ###
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49

### 8단 ###
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64

### 9단 ###
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

집합 연산으로 3과 5의 공배수 구하기

In [379]:
sum(set(range(3, 100, 3)) & set(range(5, 100, 5)))

315

`DataFrame`에 대한 순회

In [382]:
melon_df = pd.DataFrame(멜론_TOP100_리스트)

In [384]:
melon_df.columns

Index(['곡일련번호', '순위', '앨범', '곡명', '가수', '커버이미지_주소', '좋아요'], dtype='object')

In [383]:
for n in melon_df:  # 컬럼명 순회
    print(n)

곡일련번호
순위
앨범
곡명
가수
커버이미지_주소
좋아요

In [394]:
for index, row_series in melon_df.iterrows():
    print(index)
    print(row_series.좋아요)
    print(row_series['좋아요'])
    break

0
61528
61528

In [399]:
for i in range(1000000000000000000000):
    print(i)
    break

0

In [402]:
try:
    학생_성적['불어']
except KeyError:
    print("불어 성적은 없습니다.")

불어 성적은 없습니다.

## 함수 (Functions)

In [406]:
숫자 = 2

for i in range(1, 10):
    print('{} * {} = {}'.format(숫자, i, 숫자 * i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [407]:
숫자 = 3

for i in range(1, 10):
    print('{} * {} = {}'.format(숫자, i, 숫자 * i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [405]:
숫자 = 7

for i in range(1, 10):
    print(숫자, i, 숫자 * i)

7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63

함수화

In [422]:
def 구구단_출력(숫자):
    print("### {}단 ###".format(숫자))
    for i in range(1, 10):
        print('{} * {} = {}'.format(숫자, i, 숫자 * i))

In [423]:
구구단_출력(2)  # 호출(Call)한다.

### 2단 ###
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [424]:
구구단_출력(3)

### 3단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [425]:
구구단_출력(19)

### 19단 ###
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171

In [426]:
20000 // 11

1818

In [427]:
def 부가세_계산(결제금액):
    return 결제금액 // 11

In [431]:
부가세 = 부가세_계산(20000)
부가세

1818

In [436]:
def 부가세_계산2(결제금액):
    부가세 = 결제금액 // 11
    부가세_뺀_금액 = 결제금액 - 부가세
    return 부가세_뺀_금액, 부가세

In [438]:
금액1, 금액2 = 부가세_계산2(20000)

In [439]:
금액1

18182

In [440]:
금액2

1818

In [449]:
def 부가세_계산3(결제금액):
    부가세 = 결제금액 // 11
    부가세_뺀_금액 = 결제금액 - 부가세
    return 부가세_뺀_금액, 부가세

In [450]:
금액1, 금액2 = 부가세_계산3(20000)  # IPython은 None이 아닌 값들만 Out으로 보여줍니다.

In [454]:
import requests
from bs4 import BeautifulSoup

def 네이버_실검():
    res = requests.get("http://naver.com")
    html = res.text
    soup = BeautifulSoup(html, 'html.parser')
    tag_list = soup.select('.PM_CL_realtimeKeyword_rolling .ah_k')

    keyword_list = []
    for rank, tag in enumerate(tag_list, 1): # 항상 하위 block 전에 콤마(:)를 씁니다.
        keyword = tag.text
        keyword_list.append(keyword)
    
    return keyword_list

In [458]:
keyword_list = 네이버_실검()
for keyword in keyword_list:
    print(keyword)

왕종명
나르샤
백예린
grn
아소방 매트
붐붐파워
2019 스타벅스 벚꽃 md
김경수
폴루스바이오팜
리바이포유
부가티
윤진이
미래생명자원
건축학개론
세상에서 제일 예쁜 내딸
분홍이초록이시즌3
이강인
이용진
아이패드 미니
김상교

In [461]:
def 네이버_블로그_검색(keyword):
    url = 'https://search.naver.com/search.naver'
    params = {
        'where': 'post',
        'sm': 'tab_jum',
        'query': keyword,
    }
    res = requests.get(url, params=params)
    html = res.text
    soup = BeautifulSoup(html, 'html.parser')
    
    post_list = []
    for tag in soup.select('.sh_blog_title'):
        title = tag.text
        url = tag['href']
        # TODO: 요약문, 대표이미지, 글쓴날짜
        post_list.append({
            'url': url,
            'title': title,
        })
    return post_list

In [462]:
네이버_블로그_검색('LS그룹')

[{'url': 'https://blog.naver.com/jbh8170?Redirect=Log&logNo=221310259632',
  'title': 'LS 그룹'},
 {'url': 'https://blog.naver.com/incruit1?Redirect=Log&logNo=221349826974',
  'title': 'LS그룹 채용ㅣ서류부터 면접까지 합격자료 받기!'},
 {'url': 'https://blog.naver.com/karma1503?Redirect=Log&logNo=221453087681',
  'title': '[시이오뉴스][CEONEWS]2월호 커버스토리 구자열 LS그룹 회장...'},
 {'url': 'https://blog.naver.com/ls_story?Redirect=Log&logNo=221474995449',
  'title': '[LS그룹]LS 대학생 기자단, LS그룹 2019 신입사원 입사식을...'},
 {'url': 'https://blog.naver.com/guide_p?Redirect=Log&logNo=221330591606',
  'title': "LS그룹회장의 '바퀴예찬론'(20180730)"},
 {'url': 'https://blog.naver.com/ktenpar?Redirect=Log&logNo=221459200370',
  'title': 'LS그룹(LG전선, LG산전. 5남구평회의 장남 구자열)'},
 {'url': 'https://blog.naver.com/vbvb15?Redirect=Log&logNo=221363246440',
  'title': 'LS그룹 채용설명회, 직접 다녀온 생생후기!'},
 {'url': 'https://blog.naver.com/andasom98?Redirect=Log&logNo=221473590482',
  'title': '[LS그룹 대학생 기자단] 면접후기'},
 {'url': 'https://blog.naver.com/excellceo?Redirect=Log&logNo=221045177863',
  'title': '구자열 LS그룹 회장, “디지털 트랜스포메이션을 주도하라”'},
 {'url': 'https://blog.naver.com/crs7171?Redirect=Log&logNo=221142528066',
  'title': '[쉽문스크랩/246일차] LS그룹, 에너지 정책 수혜'}]

In [463]:
def 봉급계산(기본급, 야근시간):
    return 기본급 + 야근시간 * 10000

In [464]:
봉급계산(1000000, 10)

1100000

In [465]:
봉급계산(10, 1000000)

10000000010

In [467]:
봉급계산(기본급=1000000, 야근시간=10)

1100000

In [468]:
봉급계산(야근시간=10, 기본급=1000000)

1100000

In [470]:
봉급계산(1000000, 야근시간=10)

1100000

In [471]:
# 봉급계산(기본급=1000000, 10)

SyntaxError: positional argument follows keyword argument (<ipython-input-471-28b5fd4166cb>, line 1)

In [473]:
봉급계산(1000000, 0)

1000000

In [474]:
봉급계산(1000000)

TypeError: 봉급계산() missing 1 required positional argument: '야근시간'

In [476]:
def 봉급계산2(기본급, 야근시간=0):
    return 기본급 + 야근시간 * 10000

In [478]:
봉급계산2(1000000)

1000000

## 연습문제

In [481]:
len("우리는 파이썬을 즐겨요".split())

3

In [482]:
message = "우리는 파이썬을 즐겨요"

for ch in message:
#     if ch == ' '  # ch가 공백이라면?
    print(ch)

우
리
는

파
이
썬
을

즐
겨
요

In [484]:
(1234567 // 1000) * 1000

1234000

In [ ]:
def 단어수_세기(문장):
    return len(문장.split())  # white spaces

In [485]:
문장 = "우리는 파이썬을 즐겨요"

counter = 0
for ch in 문장:
    if ch != ' ':
        counter += 1
counter

10

In [489]:
len(문장.replace(' ', ''))

10

In [486]:
def 공백아닌_글자수_세기(문장):
    counter = 0
    for ch in 문장:
        if ch != ' ':
            counter += 1
    return counter

In [490]:
def 공백아닌_글자수_세기2(문장):
    return len(문장.replace(' ', ''))

In [491]:
공백아닌_글자수_세기('우리는 파이썬을 즐겨요')

10

In [492]:
공백아닌_글자수_세기2('우리는 파이썬을 즐겨요')

10

In [493]:
def 천단위_절사(숫자):
    return 숫자 // 1000 * 1000

In [494]:
천단위_절사(1234567)

1234000